body
{
	background-image:url(1.jpg);
	background-position:center;
	background-size:cover;
	font-family:sans-serif;
	margin-top:120px;
}
.formhead
{
	width:800px;
	background-color:rgb(0,0,0,0.6);
	margin:auto;
	color:#FFFFFF;
	padding:10px 0px 10px 0px;
	text-align:center;
	border-radius:15px 15px 0px 0px;
}
.my-form input[type="text"]
{
	width:100%;
}
.my-form input[type="phone"],input[type="email"] 
{
	width:60%;
}
.button
{
	background-color:#3BAF9F;
	display: block;
	margin:20px 0px 0px 20px;
	text-align:center;
	border-radius: 12px;
	border: 2px solid #366473;
	padding: 14px 25px;
	outline:none;
	cursor:pointer;
	color:#fff;
	transition:0.25px;
	font-size:15px;
	font-weight:bold;
}
.button:hover
{
	background-color:#5390F5;
}
.tableform
{
	background-color:rgb(0,0,0,0.5);
	width:800px;
	margin:auto;
	color:white;
	padding:20px;
}
.my-form
{
	padding:10px;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

.navbar-brand img
{
    height:50px;
    padding-left: 30px;
    margin-left: 2px;
}

header.sticky{
    background: #fff;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}

header .logo{
    color: #fff;
    font-weight: 700;
    font-size: 1.5em;
    text-decoration: none;
    margin-left: 10px;
}

header.sticky .logo{
    color: #111;
}

header .logo span{
    color: #ff0157;
}

header .navigation{
    position: relative;
    display: flex;
}

header .navigation li{
    list-style: none;
    margin-left: 30px;
}

header .navigation li a{
    text-decoration: none;
    color: #fff;
    font-weight: 300;
}

header.sticky .navigation li a{
    color: #111;
}

header .navigation li a:hover{
    color: #ff0157;
}
@media (max-width:991px){

    header,
    header.sticky{
        padding: 10px 20px;
    }

    header .navigation{
        display: none;
    }

    header .navigation.active{
        width: 100%;
        height: calc(100% - 68px);
        position: fixed;
        top: 68px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #fff;
    }

    header .navigation li{
        margin-left: 0;
    }

    header .navigation li a{
        color: #111;
        font-size: 1.6em;
    }

    

    .menuToggle{
        position: relative;
        width: 40px;
        height: 40px;
        background: url(./images/menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }

    .menuToggle.active{
        background: url(./images/close.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }
    header.sticky .menuToggle{
        filter: invert(1);
    }
}
.footer
{
	width: 100%;
	background: #00121b;
	display: block;
}

 .inner-footer {
	width: 95%;
    height: 5%;
	margin: auto;
	padding: 30px 10px;
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	justify-content: center;
}

 .footer-items {
	width: 33.333%;
	padding: 10px 2px;
	box-sizing: border-box;
}

 .footer .inner-footer .footer-items img {
		display: block;
		margin-top: 0%;
		margin-bottom: 0%;
		margin-left: auto;
		margin-right: auto;
		width: 25%;
		
}


 h1 {
	padding: 2px 0;
	font-size: 25px;
	color: #fff;
	text-align: center;
}

 .footer-items p {
	color: grey;
	font-size: 16px;
	text-align: justify;
	line-height: 25px;
}

 h2 {
	margin: 10px 90;
	color: grey;
	font-size: 16px;
	font-weight: lighter;
	text-transform: uppercase;
	
}

 .border {
	margin: 10px 90;
	height: 2px;
	width: 80px;
	background: #ff9800;
	
}

 ul {
	list-style: none;
	color: #fff;
	font-size: 15px;
	letter-spacing: 0.5px;
}

 ul a {
	text-decoration: none;
	outline: none;
	color: #fff;
	transition: 0.3s;
}

 ul a:hover {
	color: #ff9800;
}

 ul li {
	margin: 10px 90;
	height: 25px;
}

 li i {
	margin-right: 20px;
}

 .social-media {
	width: 100%;
	color: #fff;
	text-align: center;
}

 .social-media a {
	text-decoration: none;
}

 .social-media i {
	height: 15px;
	width: 15px;
	margin: 20px 5px;
	padding: 10px;
	color: #fff;
	border-radius: 50%;
	border: 1px solid grey;
	transition: 0.3s;
}

 .social-media i:hover {
	background: grey;
}

 .footer-bottom {
	padding: 10px;
	background: #111;
	color: #fff;
	font-size: 12px;
	text-align: center;
}

@media screen and (max-width: 1085px) {
	.footer-items {
		width: 50%;
	}
}

@media screen and (max-width: 600px) {
	.footer-items {
		width: 100%;
	}
}
